# Third party frameworks
git "../FireSwift-StructureCoding" "master"
git "../FireSwift-DecodeResult" "master"
git "../FireSwift-Paths" "master"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json" == 5.4.0
